/* .label {
  width: 3cm;
  background-color: brown;
  text-align: center;
  text-justify: auto;
  margin-left: 10px;
} */

.secondlabel {
  width: 2.7cm;
}

.smallinputs {
  width: 2cm;
}
.biginputs {
  width: 15cm;
}
.select {
  margin-left: 5px;
}
.top {
  margin-top: 25px;
}
.bottom {
  margin-bottom: 25px;
  margin-top: 10px;
}

.text {
  font-family: sans-serif;
  font-size: medium;
}
.tabletext {
  font-family: sans-serif;
  font-size: 12px;
}

.label {
  margin-top: 5px;
  width: 100px;
  margin-left: 10px;
}

.label2 {
  margin-top: 5px;
  width: 100px;
  margin-left: 3px;
}
.buttonz {
  margin-top: 1px;
  margin-bottom: 2px;
}
.actionz {
  height: 30px;
}
