/* .usertop {
  margin-top: 20px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
/* }
.userdiv {
  margin-top: 20px;
}
.cont {
  max-width: 200px;
} */
