.settingsGrid {
  margin-top: 50px;
  flex-direction: row;
  margin-left: 120px;
}

.settingsCardIn {
  align-items: center;
}

.settingsIcon {
  margin-top: 20px;
}

.settingsContainer {
  align-items: center;
}
.cardColor {
  background-color: darkgreen;
}

.btt{
  /* Frame 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
padding: 16px 26px;

position: static;
width: 88px;
height: 46px;
left: 0px;
top: 0px;

background: #1E88E5;
border-radius: 5px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 0px 10px;


/* Button */

position: static;
width: 56px;
height: 14px;
left: calc(50% - 36px/2);
top: calc(50% - 14px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 0px 0px;

}